@if(Item is not null){
    string? link = Item.Link;
    <CardComponent Title="@Item.Title" Subtitle="@Item.Completed.ToString("MMM d yyyy")" Link="@link" Tags="@Item.TechStack.ToArray()">
        <p class="card-text m-1" style="">@Item.Description</p>
    </CardComponent>
}