@using Models
@using System.ComponentModel.DataAnnotations
@* Singular project *@

@if(Project is not null){
    string? link = Project.Link;
    <div class="card m-2 tilt" style="width: 300px;">
        <div class="card-body">
            @if(link is not null){
                <a href=@Project.Link class="stretched-link">
                    <h5 class="card-title lh-1" style="margin-bottom: 0;">@Project.Title</h5>
                </a>
            }else{
                <h5 class="card-title lh-1" style="margin-bottom: 0;">@Project.Title</h5>
            }
            <div card="card-subtitle lh-1 text-muted">@Project.Completed.ToString("MMM d yyyy")</div>
            @* TechStack *@
            <p class="card-text m-1">@Project.Description</p>
                @foreach(string tech in Project.TechStack){
                    <SkillComponent Skill="@tech" />
                }
        </div>
    </div>
}

@code{
    [Parameter][Required]
    public Project? Project { get; set; }
}